//VARIABLES
$titulos: teal;

/* -----------Estilos generales----------- */
*{
    text-decoration: none;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
header {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    padding: 8px;
    border-bottom: outset grey 3px;
    position: sticky;
    top: 0px;
    display: flex;
} 
.borde {
    border-style:ridge;
}
body {
  background-image: url("https://image.freepik.com/foto-gratis/equipo-negocios-trabajando-concepto-trabajador-oficina_53876-23476.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  color: aliceblue;
  line-height: 1.6;
}
.flex__fondo {
    background-color: #2c3d54;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;    
}
h1 {
    text-decoration-line: underline;
    background-image: linear-gradient(270deg, rgba(238,174,202,0) 0%, rgba(44,61,84,1) 75%);
    border-radius: 1em;
    margin: 13px;
    padding: 13px;
}
@for $i from 1 through 5 {
    h#{$i} 
    {color: $titulos;
    font-style: oblique; 
    font-weight: bold;
    font-size: 1.0 + (1 - ($i+2)/10);}
}
li a {
    color: white;
}
.listasSinLinks {
    font-weight: bold;
}

.contactos {
    list-style-type: none;
    display: flex;
    li {
        display: inline-block;
        margin: 10px;
        padding: 5px;
        a {
            border-radius: 5px;
        }
    }
}


/* -----------------MENU----------------- */
header nav li{
    font-size: large;
    display: inline;
    padding: 10px;
}
a.menuHeader {
    text-decoration: none;
    color: black;
}
ul.sinVinieta {
    list-style-type: none ;
}


/* ----------------FOOTER---------------- */
#footer {
    font-style: oblique;
    text-align: center;
    color: rgb(145, 143, 143) ;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 1;

}
footer div {
    display:inline-block;
}

#margenInferior {
    display: flex;
    flex-direction: column;
    grid-area: derecha;     /*columna derecha de la grilla */
    margin: 1em 1em 8em 1em;
    background-color: #2c3d54;
    border-radius: 1em;
    padding: 1em;
}


/* ---------------ACENTOS--------------- */
.fotoCV{
    border-radius: 50px;
    height: 120px;
    /* transform: escale (2,2);   */
}
span {
    font-weight: bold;  
    font-style: italic;
}
.transicion {
    transition: all 1s;
}
.transicion:hover {
    font-size: 150%;
    align-content: center;
}
.flex {
    display: flex;
    flex-direction: row;
    width: 96%;
}


/* ---------------GRILLAS--------------- */
.gridArea {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: auto;
    grid-template-areas: "izquierda  derecha";
    justify-content: space-evenly;
    margin-bottom: 5em;
}
.gridArea__izquierda {
    display: flex;  
    flex-direction: row;
    grid-area: izquierda;
    margin: 1em 1em 5em 1em;
    background-color: #2c3d54;
    border-radius: 1em;
    padding: 1em;
}
